body
{
    color : rgb(12, 0, 6);
    text-align: center;
    font-family:"Arial";
}

#container
{
    color: rgb(225, 116, 65);
   width: 70%;
   padding: 1em;
   text-align: left;
   border: 1px solid #ddd;
   margin: 0 auto;
}

#container h1
{
   font-size: 20px;
}

#cabecera
{
    background: rgb(231, 247, 8);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5) ;
    color: rgb(253, 6, 6);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 1em 0 0 1em ;
    font-weight: normal;
    font-size: 0.8em;
}

